<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleIndex.css">
</head>

<body>
    <div id="abc">
        <h1><a id="abc1" href="/hire_return">Manage Renter</a></h1>
    </div>
    <div>
        <h1><a href="/books/library">Manage Library</a></h1>
    </div>
</body>

</html>